.mainDiv {
    width: 100%;

    background-color: #1b1b20;
    padding: 2vw;
    display: flex;
    flex-direction: column;

    border-radius: 0.5vw;
}

.backButton {
    color: var(--Main-Color-Text, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "SF Pro Display";
    font-size: 1vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 0.5vw;
    /* background-color: blue; */
    background-color: #1b1c20;
    box-shadow: 0px 0px 8px rgba(255, 255, 35, 0.2);
    padding: 0.3vw;
    width: 4vw;
    margin-left: 0%;
    margin-top: -0vw;

}
.galleryCardDiv{
    
    /* width: 40%; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vw;
}
.overViewCss{
  margin-left: -50%;

}

@media only screen and (max-width: 768px) {
    .overViewCss{
        margin-left: -35%;
      
      }
}